[
 {
   elvis,
   [
    {config,
     [#{dirs => ["src"],
        include_dirs => ["include"],
        filter => "*.erl",
        ruleset => erl_files,
        rules => [
                  % Temporary fix for Elvis bug - https://github.com/inaka/elvis/issues/505
                  {elvis_style, variable_naming_convention,
                   #{regex => "^_?([_A-Z][0-9a-zA-Z]*)$|^FUNCTION_(NAME|ARITY)$"}}
                 ]
       },
      #{dirs => ["."],
        filter => "Makefile",
        ruleset => makefiles
       },
      #{dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
       },
      #{dirs => ["."],
        filter => "elvis.config",
        ruleset => elvis_config
       }
     ]
    }
   ]
 }
].
