{erl_opts, [debug_info]}.
{deps, [grpcbox,
        wts,
        opentelemetry,
        opentelemetry_api]}.

{grpc, [{protos, "opentelemetry-proto/opentelemetry/proto/collector/trace/v1"},
        {gpb_opts, [{module_name_suffix, "_pb"},
                    {i, "opentelemetry-proto/"}]}]}.

{plugins, [grpcbox_plugin]}.
