{erl_opts, [debug_info]}.
{deps, []}.

{profiles,
 [{docs, [{deps, [edown]},
          {edoc_opts,
           [{doclet, edown_doclet},
            {preprocess, true},
            {dir, "edoc"},
            {subpackages, true}]}]},
  {test, [{erl_opts, [nowarn_export_all]},
          {deps, [wts]},
          {ct_opts, [{ct_hooks, [cth_surefire]}]}]}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.
{xref_ignores, []}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.
