%% The schema url for telemetry resources
-define({{ module | to_const_name }}_SCHEMA_URL, <<"{{ schema_uri }}">>).
{# blank line #}
{%- for attribute in attributes | unique(attribute="fqn") %}
%% {{ attribute.brief | to_doc_brief | regex_replace(pattern="\n", replace="\n%% ") }}
{%- if attribute.note %}
%% {{ attribute.note | to_doc_brief | regex_replace(pattern="\n", replace="\n%% ") }}
{%- endif %}
{%- if attribute.deprecated %}
%% @deprecated {{ attribute.deprecated | to_doc_brief | regex_replace(pattern="\n", replace="\n %%  ") }}
{%- endif %}
-define({{ attribute.fqn | to_const_name }}, '{{ attribute.fqn }}'),
{# blank line #}
{%- endfor %}
