{source_url, <<"https://github.com/open-telemetry/opentelemetry-erlang">>}.
{extras, [<<"apps/opentelemetry/README.md">>, <<"apps/opentelemetry/LICENSE">>, <<"VERSIONING.md">>]}.
{main, <<"readme">>}.
{proglang, erlang}.
{groups_for_modules, [
    {'Span', [otel_span_ets,
              otel_span_limits,
              otel_span_sweeper]},
    {'Span Processing', [otel_span_processor,
                         otel_simple_processor,
                         otel_batch_processor]},
    {'Exporter', [otel_exporter,
                  otel_exporter_pid,
                  otel_exporter_stdout,
                  otel_exporter_tab]},
    {'Resource', [otel_resource,
                  otel_resource_detector,
                  otel_resource_app_env,
                  otel_resource_env_var]},
    {'Sampling', [otel_sampler,
                  otel_sampler_always_on,
                  otel_sampler_always_off,
                  otel_sampler_parent_based,
                  otel_sampler_trace_id_ratio_based]}
]}.
