{source_url, <<"https://github.com/open-telemetry/opentelemetry-erlang">>}.
{extras, [<<"apps/opentelemetry_api/README.md">>, <<"apps/opentelemetry_api/LICENSE">>, <<"VERSIONING.md">>]}.
{main, <<"readme">>}.
{proglang, erlang}.
{groups_for_modules, [
    {'Tracer', [otel_tracer,
                otel_tracer_noop,
                otel_tracer_provider,
                otel_tracestate,
                'Elixir.OpenTelemetry.Tracer']},
    {'Propagators', [otel_propagator,
                     otel_propagator_baggage,
                     otel_propagator_b3,
                     otel_propagator_b3multi,
                     otel_propagator_b3single,
                     otel_propagator_text_map,
                     otel_propagator_text_map_composite,
                     otel_propagator_text_map_noop,
                     otel_propagator_trace_context]}
]}.
