{%- macro to_elixir_module(text) -%}
  {{ text | pascal_case }}
{%- endmacro -%}
{#- waiting on https://github.com/open-telemetry/weaver/pull/207 for split to be available -#}

  {# {{ text | snake_case_const | replace('_', ' ') | split | reject(ctx.id) | join('_') }} #}
{%- macro func_name(text) -%}
  {{ text | snake_case_const }}
{%- endmacro -%}
{%- macro to_atom(text) -%}
{% if text | split_id | length > 1 -%}:"{{ text }}"{%- else -%}:{{ text }}{%- endif %}
{%- endmacro -%}
{% macro to_elixir_type(member) -%}
  {%- if member.id == member.value -%}
    {{ to_atom(member.value) }}
  {%- else -%}
  {{ member }}
    {{ member.type | type_mapping }}
  {%- endif -%}
{%- endmacro %}
{%- macro enum_value_to_elixir_type(value) -%}
  {%- if value is string %}{{ to_atom(value) }}{% else -%}{{ value }}{%- endif %}
{%- endmacro -%}
{%- macro strong_reqs(string) -%}
  {{ string | replace(" MUST ", " **MUST** ") | replace(" MUST NOT ", " **MUST NOT** ") | replace(" SHOULD ", " **SHOULD** ") | replace(" SHOULD NOT ", " **SHOULD NOT** ") |  replace(" MAY ", replace=" **MAY** ") | replace(" NOT ", " **NOT** ") }}
{%- endmacro -%}

{%- set file_name = ctx.id | snake_case ~ "_attributes.ex" -%}
{%- set module_name = ctx.id | pascal_case -%}
{%- set trim_blocks = true %}
{%- set trim_lstrip_blocks = true %}
{{ template.set_file_name(file_name) }}

{%- set module_name = ctx.id | pascal_case ~ "Attributes" -%}
defmodule OpenTelemetry.SemanticConventions.{{ module_name }} do
  # This is an auto-generated file
  @moduledoc """
  OpenTelemetry Semantic Conventions for {{ ctx.id | title }} attributes.
  """
{%- for attribute in ctx.attributes | sort(attribute="name") %}
{% if attribute.type is mapping %}
  {# @doc namespace: {{ to_atom(ctx.id) }} #}

  {% for member in attribute.type.members %}
  {% if member.id ~ '' != member.value -%}
  @type {{ member.id }}() :: {{ enum_value_to_elixir_type(member.value) }}
  {%- endif %}
  {% endfor %}
  @typedoc """
  {{ strong_reqs(attribute.brief) }}

  ### Options
  {% for member in attribute.type.members -%}
  * `{{ to_atom(member.id) }}`
  {%- if member is experimental %} ^[e](`m:OpenTelemetry.SemanticConventions#experimental`)^{% endif %}{% if member.brief != none %} - {% if member is deprecated %}**deprecated** ~~{% endif %}{{ member.brief }}{% if member is deprecated %}~~{% endif %}{% endif %}
  {% endfor %}
  """
  @type {{ attribute.name | snake_case_const }}() ::
    {%- for member in attribute.type.members -%}
    {% if loop.first %} {% endif %}{% if member.id ~ '' != member.value %}{{ member.id }}(){% else %}{{ enum_value_to_elixir_type(member.value) }}{% endif %}{% if not loop.last %} | {% endif %}
    {%- endfor -%}
    | atom()
  {%- endif %}
 
  {% if attribute is deprecated %}
  @deprecated """
  {{ attribute.deprecated | replace("\n", "\n  ") }}
  """
  {% else %}
  @doc """
  {{ strong_reqs(attribute.brief | replace("\n", "\n  ")) }}
  {% if attribute.note -%}

  ### Notes

  {{ strong_reqs(attribute.note | replace("\n", "\n  ")) }}

  {%- endif %}

  ### Example
  {%- if not(attribute.type is mapping) %}
      iex> OpenTelemetry.SemanticConventions.{{ module_name }}.{{ func_name(attribute.name) }}()
      {{ to_atom(attribute.name) }}
  {%- else %}
      iex> OpenTelemetry.SemanticConventions.{{ module_name }}.{{ func_name(attribute.name) }}({{ to_atom(attribute.type.members|first|attr('id'))}})
      {{ enum_value_to_elixir_type(attribute.type.members|first|attr('value')) }}
      
      iex> OpenTelemetry.SemanticConventions.{{ module_name }}.{{ func_name(attribute.name) }}(:custom_value)
      :custom_value
  {%- endif %}
  """
  {%- endif %}
  {%- if not(attribute.type is mapping) %}
  @spec {{ func_name(attribute.name) }} :: {{ to_atom(attribute.name) }}
  def {{ func_name(attribute.name) }} do
    {{ to_atom(attribute.name) }}
  end
  {%- else %}
  @spec {{ func_name(attribute.name) }}({{ attribute.name | snake_case_const }}()) :: 
    {%- for member in attribute.type.members -%}
    {% if loop.first %} {% endif %}{% if member.id ~ '' != member.value %}{{ member.id }}(){% else %}{{ enum_value_to_elixir_type(member.value) }}{% endif %}{% if not loop.last %} | {% endif %}
    {%- endfor -%}
    | atom()
  def {{ func_name(attribute.name) }}(option) do
    {{ to_atom(attribute.name) }}

    case option do
    {% for member in attribute.type.members %}
      {{ to_atom(member.id) }} -> {{ enum_value_to_elixir_type(member.value) }}
    {% endfor %}
      _ -> option
    end
  end
  {%- endif %}
{% endfor %}
end
