{erl_opts, [debug_info]}.
{deps, [{opentelemetry, "~> 1.0"},
        {opentelemetry_api, "~> 1.0"}]}.

{profiles, [{test, [{erl_opts, [nowarn_export_all]}]},

            {proto, [{plugins, [{rebar3_gpb_plugin, "2.13.0" }]},
                     {gpb_opts,
                      [{i, "proto"},
                       {msg_name_prefix, "zipkin"},
                       {module_name_prefix, "opentelemetry_"},
                       {module_name_suffix, "_pb"},
                       msg_name_to_snake_case,
                       defs_as_proplists,
                       {o_erl, "src"},
                       {o_hrl, "src"},
                       {strings_as_binaries, true},
                       type_specs]}]}]}.
