{%- import 'common.j2' as c %}
{%- set file_name = ctx.output ~ c.file_name(ctx.id) ~ "_attributes.hrl" -%}
{{ template.set_file_name(file_name) }}
%%%------------------------------------------------------------------------
%% Copyright The OpenTelemetry Authors
%% Licensed under the Apache License, Version 2.0 (the "License");
%% you may not use this file except in compliance with the License.
%% You may obtain a copy of the License at
%%
%% http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing, software
%% distributed under the License is distributed on an "AS IS" BASIS,
%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%% See the License for the specific language governing permissions and
%% limitations under the License.
%%%-------------------------------------------------------------------------
{%- if params.stability == "experimental" and (ctx.all_attributes | length) > (ctx.attributes | length) %}
-include_lib("opentelemetry_semantic_conventions/include/attributes/{{ c.file_name(ctx.id) }}_attributes.hrl").
{% endif -%}
{%- for attribute in ctx.attributes | sort(attribute="name") %}
{% if attribute is deprecated -%}
%% @deprecated {{ attribute.deprecated | replace("\n", "\n%%  ") }}
{%- endif %}
%% {{ attribute.brief | replace("\n", "\n%%  ") }}
-define({{ c.attr_name(attribute.name) }}, '{{ attribute.name }}').
{%- if attribute.type is mapping %}
{% for member in attribute.type.members %}
-define({{ c.attr_name(attribute.name) }}_VALUES_{{ member.id | screaming_snake_case }}, '{{ member.value }}').
{% endfor %}
{%- endif %}
{% endfor %}
