{%- set file_name = ctx.id | snake_case ~ "_attributes.hrl" -%}
{{ template.set_file_name(file_name) }}
{%- for attribute in ctx.attributes | sort(attribute="name") %}
{% if attribute is deprecated -%}
%% @deprecated {{ attribute.deprecated | replace("\n", "\n%%  ") }}
{%- endif %}
%% {{ attribute.brief | replace("\n", "\n%%  ") }}
{% if attribute.type is mapping -%}
{%- for member in attribute.type.members %}
-define('{{ attribute.name | snake_case_const }}.{{ member.id }}', '{{ member.value }}').
{% endfor %}
-define({{ attribute.name | snake_case_const }}.(Custom), Custom).
{%- else -%}
-define({{ attribute.name | snake_case_const | upper }}, '{{ attribute.name }}').
{%- endif %}
{% endfor %}
